<footer class="flex flex-none justify-center">
  <section class="flex flex-col md:flex-row mx-2 md:mx-0 gap-2 md:gap-0 justify-between w-full max-w-4xl lg:max-w-5xl py-6 text-slate-500 dark:text-slate-300">
    <div class="flex flex-row">
    </div>
    <div class="grow"></div>
    <div class="flex flex-row mx-2 md:md:mx-2">
      {{ with .Site.Params }}
          <a class="inline-flex items-center" href="https://beian.mps.gov.cn/#/query/webSearch?code={{ .beian }}" rel="noreferrer" target="_blank"><img src="/beian.png" class="self-center w-5 h-5 mx-2 md:mx-2" />浙公网安备{{ .beian }}号</a>
    </div>
    <div class="flex flex-row">
          <a class="inline-flex items-center" href="https://beian.miit.gov.cn/" target="_blank">{{ .icp }}</a>
    </div>
      {{ end }}
  </section>
</footer>

{{- /* 百度统计 */ -}}
<script>
var _hmt = _hmt || [];
(function() {
  var appId = "8a859828c0ab6ac22f43b1b8e16213db"
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?" + appId;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
